$body-color: #2C2C2C;
$body-bg: #FFDF8C;
$primary: #FE5F1E;
$muted: #F9F9F9;
$dark: #282828;
$btn-border-radius: 30px;

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px
);
